<div class="wrapper wrapper-content">
    <div class="row animated fadeInLeft">
        <div class="col-lg-6 text-center">
            <div class="ibox">
              <div class="ibox-title">
                <h1><strong>Can You Name Every Player?</strong></h1>
              </div>
              <div class="ibox-content" style="height:425px">
                  <%= image_tag "team.png", width: "30%", style:"margin:20px 0;"%>
                    <h3 style="margin:10px">Try to name players based on their photos.</h3>
                    <button class="btn btn-primary dim" style="margin:10px"><%= link_to 'FC Saracens', new_a_game_path, style:"color:#fff" %></button>
                    <button class="btn btn-primary dim" style="margin:10px"><%= link_to 'Gloucester Rugby', new_b_game_path, style:"color:#fff" %></button>
                    <button class="btn btn-primary dim" style="margin:10px"><%= link_to 'Both Teams', new_game_path, style:"color:#fff" %></button>
              </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <div class="ibox">
              <div class="ibox-title">
                <h1><strong>Who Do You Think Will Win?</strong></h1>
              </div>
              <div class="ibox-content" style="height:425px">
                  <%= image_tag "ruby_player.png", width: "30%", style:"margin:20px 0;" %>
                  <h3 style="margin:10px">Bet on who you think will win & earn Allianz Points!</h3>
                  <button class="btn btn-primary dim" style="margin:10px"><%= link_to 'Bet Now', new_bet_game_path, style:"color:#fff" %></button>
              </div>
            </div>
        </div>
    </div>
</div>
